* {
    border: solid black;
}

.gameContainer {
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    justify-self: center;
}

.displayBar {
    height: 60px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
}

.numberContainer {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
       
}

.operatorContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;

}

button {
    border-radius: 50%;
    width: 60px;
    height: 60px;  
}

#add, #subtract, #multiply, #divide, #equals {
    border-radius: 20%;
    height: 60px;
    width: 60px;
}

.leftGameContainer {
    display: flex;
    flex-direction: column;
}

.madeBy {
    
    
}